body{
    font-family: 'Noticia Text', serif;
}
.navBar{
    display: flex;
    justify-content:space-between;
    justify-items:center;
    align-items: center;
    width:90%; 
    margin: 0 auto 10px auto;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

.navBar a{
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
}

.navBar .logoNnav{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.navBar img{
    width:150px;
    height:120px;
}

.navBar .navigate ul li{
    float: left;
    list-style: none;
    letter-spacing: 1px;
    margin: 0 10px 0 0;

}

.navBar .sideLine div{
   border: 2px solid black;
   background-color: black;
   width:30px;
   margin-bottom:5px;
}

.navBar .sideLine{
    display: none;
}

.sideBar{
    display: none;
}


  @media only screen and (max-width: 900px) {
    .navBar .sideLine{
        display: block;
    }
    .navBar .navigate{
        display: none;
    }
  }